HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

Healthcare/Gaurav_Files/doctorBackend-master/src/main/resources/application.properties
E:\IIIT-Bglr\Sem_2\Healthcare\Gaurav_Files\doctorBackend-master\src\main\resources\application.properties
https://github.com/kranky23/doctorBackend-master/blob/f9b5e161d4f0c15f3593cc9b9f9152023c3da12d/src/main/resources/application.properties
